/* src/App.css */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Style for the footer */

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1; /* Light gray background */
  border-top: 1px solid #ccc; /* Border at the top of the footer */
}

.footer-left {
  margin-left: 1rem;
}

.footer-right {
  font-size: 0.875rem;
  color: #666;
}

.footer-left a {
  color: #007bff;
  text-decoration: none;
}

.footer-left a:hover {
  text-decoration: underline;
}
